/* Estilos globales para toda la aplicación */

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 1rem;
}

h1 {
  color: green;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: crimson;
}

footer p {
  color: white;
  text-align: center;
}